@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);
body{
  font-family: 'Hanna';
}
/*      Header Style       */
.main-nav{
  padding: 0;
  position:relative;
  right:0;left:50px;
  display:flex;
  justify-content:left;
}
li{
  display: inline-block;
  width: 120px;
  height: 50px;
  float: left;
  text-align: center;
}
.main-nav-list{
  text-decoration: none;
}
.main-nav-list > p:hover{
  opacity: 1;
  color: black;
}
.main-nav-list > p{
  margin-top: 20px;
  float: top;
  opacity: 0.5;
  font-size: 26px;
  color: black;
}
.main-nav-list::after {
    height: 50px;
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: black;
    -webkit-transition: width .3s;
    transition: width .3s;
}
.main-nav-list:hover::after{
    width: 100%;
}
li.logo-li{
  width: 250px;
}
.post-list li h2{
  color: black;
  font-weight: normal;
  font-size: 20px;
  text-decoration: none;
}
.post-body{
  margin-top: 100px;
  position: relative; 
  margin-left: 110px;
}
.post-content{
  position: absolute;
  left: 20%;
  width: 50%;
  margin-top: 20px;
  line-height:1.5em;
  font-family:'Noto Sans KR', sans-serif;
  text-align: justify;
}
.post-content p {
  font-size: 14px;
}
.post-body h1{
  font-size: 50px;
  font-weight: 500;
}
.post-body h2{
  font-size: 26px;
  font-weight: 300;
} 
.bold-text{
  font-weight: 800;
  font-size: 28px;
}
.post-date{ 
  position: absolute;
  display: inline;
  margin-top: 38px;
}